<div class="footer-gdr">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 item"><img class="mb-3" src="assets/img/gdr-white.png">
                    <p>Perumahan Taman Cimanggu<br>Jl. Tanjung VIII No. 14 Bogor<br></p>
                </div>
                <div class="col-lg-8 item social">
                    <h4>Media Kami</h4><a href="#"><img src="assets/img/ic-instagram.png">@gerakdarirumah</a><a href="#"><img src="assets/img/ic-github.png">@gerakdarirumah</a><a href="#"><img src="assets/img/ic-facebook.png">Gerak Dari Rumah</a><a href="#"><img src="assets/img/ic-youtube.png">Gerak Dari Rumah</a></div>
            </div>
            <div class="row">
                <div class="col text-center mt-2">
                    <p class="copyright">#GerakDariRumah © 2020</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>