<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" href="#"><img src="assets/img/ikon-gdr.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Beranda</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Agenda</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Kontak</a></li>
            </ul>
    </div>
    </div>
</nav>