<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>GerakDariRumah</title>
<link rel="stylesheet" href="{{  "/bootstrap/css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
<link rel="stylesheet" href="{{  "/css/owl.carousel.min.css" | absURL }}">
<link rel="stylesheet" href="{{  "/css/owl.theme.default.min.css" | absURL }}">
<link rel="stylesheet" href="{{  "/css/styles.css" | absURL }}">