{{ define "main" }}
    <header class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 d-block d-md-none"><img class="img-fluid" src="/img/header_image.png"></div>
                <div class="col-md-8 align-self-center">
                    <h1>Gerakan Sosial Jarak Jauh</h1>
                    <p>#GerakDariRumah adalah upaya penggalangan dana sosial COVID-19 dari masyarakat dengan cara melakukan kegiatan kolaborasi jarak jauh dari rumah memanfaatkan media daring. </p><button class="btn btn-info border rounded-0" type="button">Selengkapnya</button></div>
                <div
                    class="col-md-4 d-none d-md-block"><img class="img-fluid" src="/img/header_image.png"></div>
        </div>
        </div>
    </header>
    <div class="penggunaan-dana">
        <div class="container">
            <h2 class="title">Penggunaan Dana #GerakDariRumah</h2>
            <div class="all-dana owl-carousel owl-theme">
                <div class="card">
                    <div class="card-body text-center"><img class="mx-auto image-dana" src="/img/dana1.png">
                        <h4 class="card-title">Alat Kebersihan</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center"><img class="mx-auto image-dana" src="/img/dana2.png">
                        <h4 class="card-title">Bahan Makanan</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center"><img class="mx-auto image-dana" src="/img/dana3.png">
                        <h4 class="card-title">Alat Kesehatan</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center"><img class="mx-auto image-dana" src="/img/dana4.png">
                        <h4 class="card-title">Obat-Obatan</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-section py-5">
        <div class="container">
            <h2 class="title">Blog #GerakDariRumah</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5"><a class="single-post" href="#"><img class="img-fluid post-thumbnail" src="/img/blog-post.png"><small class="post-tanggal">24 februari 2020</small><h4 class="post-judul">Judul Berita Disini</h4><p>Dana terkumpul akan disalurkan oleh penyelenggara ke pihak membutuhkan di Indonesia ...</p><button class="btn btn-primary btn-more" type="button">Selengkapnya</button></a></div>
                <div
                    class="col-md-6 col-lg-4 mb-5"><a class="single-post" href="#"><img class="img-fluid post-thumbnail" src="/img/blog-post.png"><small class="post-tanggal">24 februari 2020</small><h4 class="post-judul">Judul Berita Disini</h4><p>Dana terkumpul akan disalurkan oleh penyelenggara ke pihak membutuhkan di Indonesia ...</p><button class="btn btn-primary btn-more" type="button">Selengkapnya</button></a></div>
            <div
                class="col-md-6 col-lg-4 mb-5"><a class="single-post" href="#"><img class="img-fluid post-thumbnail" src="/img/blog-post.png"><small class="post-tanggal">24 februari 2020</small><h4 class="post-judul">Judul Berita Disini</h4><p>Dana terkumpul akan disalurkan oleh penyelenggara ke pihak membutuhkan di Indonesia ...</p><button class="btn btn-primary btn-more" type="button">Selengkapnya</button></a></div>
        <div
            class="col-md-6 col-lg-4 mb-5"><a class="single-post" href="#"><img class="img-fluid post-thumbnail" src="/img/blog-post.png"><small class="post-tanggal">24 februari 2020</small><h4 class="post-judul">Judul Berita Disini</h4><p>Dana terkumpul akan disalurkan oleh penyelenggara ke pihak membutuhkan di Indonesia ...</p><button class="btn btn-primary btn-more" type="button">Selengkapnya</button></a></div>
    <div
        class="col-md-6 col-lg-4 mb-5"><a class="single-post" href="#"><img class="img-fluid post-thumbnail" src="/img/blog-post.png"><small class="post-tanggal">24 februari 2020</small><h4 class="post-judul">Judul Berita Disini</h4><p>Dana terkumpul akan disalurkan oleh penyelenggara ke pihak membutuhkan di Indonesia ...</p><button class="btn btn-primary btn-more" type="button">Selengkapnya</button></a></div>
        <div
            class="col-md-6 col-lg-4 mb-5"><a class="single-post" href="#"><img class="img-fluid post-thumbnail" src="/img/blog-post.png"><small class="post-tanggal">24 februari 2020</small><h4 class="post-judul">Judul Berita Disini</h4><p>Dana terkumpul akan disalurkan oleh penyelenggara ke pihak membutuhkan di Indonesia ...</p><button class="btn btn-primary btn-more" type="button">Selengkapnya</button></a></div>
            </div>
            <div class="row">
                <div class="col text-center"><button class="btn btn-info border rounded-0" type="button">Lihat Lainnya</button></div>
            </div>
            </div>
            </div>
            <div class="saran-section py-5">
                <div class="container">
                    <h2 class="title">Sumbang Saran</h2>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 d-none d-md-block mb-5"><img class="img-fluid" src="/img/gambar-saran.png"></div>
                        <div class="col-md-6 col-lg-6 mb-5">
                            <p>Lorem ipsum dolor sit amet. Ini contoh deskripsi ala kadarnya, uhuy aye-aye, enakanya berapa kalimat ye? Kayae cukup deh :")</p>
                            <form><input class="form-control my-4" type="text" placeholder="Email Anda"><textarea class="form-control my-3" placeholder="Tulis saran disini..." rows="8"></textarea><button class="btn btn-info border rounded-0" type="submit">Kirim Saran</button></form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mitra-section py-5">
                <div class="container">
                    <h2 class="title">Mitra Komunitas</h2>
                    <div class="all-mitra owl-carousel owl-theme">
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra1.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra2.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra3.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra4.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra5.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra6.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra7.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra8.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra9.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra10.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra11.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra12.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra13.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra14.png"></div>
                        <div class="single-mitra"><img class="img-fluid" src="/img/mitra15.png"></div>
                    </div>
                </div>
            </div>
{{ end }}